@import 'normalize'
@import 'mixins'
@import 'jeet/jeet'

$primary_color: #58A02D
$dark_color: #3A3A3A

body
    font-size: 15px
    background-color: #E4E4E4
    font-family: 'PT Sans', sans-serif


header
    position: fixed
    top: 0
    width: 100%
    padding: 10px
    border-bottom: 1px solid #333
    background-color: $dark_color
    z-index: 10

    +j-cf()

    .top
        +j-center(95vw)

    h1
        margin: 0
        padding: 0

    .brand
        +j-column(1/2, $cycle: 2)

    .logo
        width: 120px
        margin-top: 10px

    .actions
        +j-column(1/2, $cycle: 2)
        text-align: right


@mixin btn($color: #333)
    padding: 10px 20px
    margin: 0 5px
    border-radius: 5px
    background-color: $color
    font-size: 14px
    display: inline-table
    text-decoration: none
    color: #fff
    &:hover
        background-color: darken($color, 10%)


.btn-sync
    +btn($primary_color)

.btn-all
    +btn(lighten($primary_color,20%))

.btn-unall
    +btn(lighten($dark_color,50%))


.fullcontainer
    width: 100%
    height: 100vh
    background: url(../img/bgdark.png) center center no-repeat
    background-size: cover
    position: relative


.login
    +j-align(both)
    width: 300px
    text-align: center

    &__logo
        margin: 10px 0

    &__form input
        width: 100%
        padding: 10px 0
        border: 0
        text-align: center
        outline: none

        &:nth-child(1)
            border-top-left-radius: 10px
            border-top-right-radius: 10px
            border-bottom: 1px solid #eee

        &:nth-child(2)
            border-bottom-left-radius: 10px
            border-bottom-right-radius: 10px

    &__form button
        width: 100%
        margin: 15px 0
        border: 0
        border-radius: 5px
        padding: 10px 0
        text-align: center
        color: #fff
        background-color: $primary_color

        &:hover
            background-color: darken($primary_color, 15%)





.container
    margin-top: 70px
    +j-center(95vw)

.product
    +j-column(1/5, $cycle:5, $gutter:1)
    background-color: #fff
    min-height: 100px
    margin: 10px 0
    border-radius: 5px
    position: relative

    &__name
        padding: 15px
        text-align: center


.checked
    +opacity(0)
    +transition(0.4s)
    color: lighten($primary_color, 10%)
    position: absolute
    bottom: 10px
    width: 90%
    font-size: 1.3rem
    font-weight: bold
    pointer-events: none

input[type="checkbox"]
    opacity: 0

    + label
        border-radius: 5px
        width: 100%
        display: block
        height: 100%
        position: absolute
        top: 0
        cursor: pointer
        left: 0
        +transition(0.4s)

    &:checked + label
        background-color: $dark_color

    &:checked ~ span
        color: #fff
        position: relative
        pointer-events: none

    &:checked ~ .checked
        +opacity(1)
