{% extends "base.html" %}

{% block content %}


    <div class="container" ng-controller="PriorityController">
        <button ng-click="setPriority()">Sync</button>
        <div class="product" ng-repeat="p in products">
            <div class="product__name">
                <input id="{[{ p.id }]}" type="checkbox" ng-model="p.priority">
                <label for="{[{ p.id }]}"></label>
                <span>{[{p.name}]}</span>
            </div>
        </div>
    </div>

{% endblock content %}